<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link href="../css/mui.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<style type="text/css">
	.top-nav {
		background: white;
	}
	/*排序数字的样式*/
	.top-index {
		color: red;
		font-size: 16px;
		font-style: italic;
		width: 30px;
		display: inline-block;
		margin-top: 40px;
		margin-bottom: 15px;
	}
	/*闲的样式*/
	.line {
		width: 100px;
		height: 0.5px;
		background: #C4C4C4;
		display: inline-block;
		vertical-align: middle;
	}
	/*card样式*/
	.card {
		margin: 0 15px;
		height: 120px;
		border: 1px solid #C4C4C4;
		border-radius: 2px;
		box-shadow: 0 1px 5px #C4C4C4;
		padding: 15px;
		text-align: left;
	}
</style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">北美票房榜</h1>
</header>
<div class="mui-content">
	<div class="mui-scroll-wrapper" style="top: 44.5px;background: #FFFFFF;" id="list">
	    <div class="mui-scroll">
	        <ul style="list-style: none;padding-left: 1px;margin-top: 0;">
	        	<li v-for="item in list" @click="open_detail(item)">
	        		<div style="text-align: center;">
	        			<div class="line"></div>
		        		<div class="top-index">{{item.sort}}</div>
		        		<div class="line"></div>
	        		</div>
	        		<div class="card">
	        			<img :src="item.cover" class="mui-pull-left" style="width: 70px;height: 95px;margin-right: 10px;" />
	        			<div class="dark-big" style="margin-bottom: 10px;">{{item.title}}</div>
	        			<div style="line-height: 20px;">
	        				<span class="gray-small">豆瓣评分：</span><span class="orange-small" v-if="item.score > 0">{{item.score}}</span><span class="orange-small" v-else>暂无评分……</span>	        			
	        			</div>
	        			<div class="gray-small" style="line-height: 20px;">导演：{{item.directorsStr}}</div>
	        			<div class="gray-small" style="line-height: 20px;">演员：{{item.castsStr}}</div>
	        		</div>
	        		<span class="dark-medium" style="margin: 10px 0 0 15px;display: block;">票房{{item.box}}万美元</span>
	        	</li>
	        </ul>
	    </div>
	</div>	
</div>
	
<script src="../js/mui.min.js"></script>
<script src="../js/vue.min.js"></script>
<script type="text/javascript">
	mui.init();
	
	var detailPage = null;
	
	// vue对象
	var movies = new Vue({
		el: '#list',
		data: {
			list: []
		},
		methods: {
			open_detail: function(item){
				// 触发详情页面的自定义事件
				mui.fire(detailPage, 'movieId', {
					id: item.id
				});
				detailPage.show('slide-in-right');
			}
		}
	});
	
	mui.plusReady(function(){
		// 给detailPage赋值，根据ID获取详情页面
		detailPage = plus.webview.getWebviewById('movie-detail');
		if (!detailPage) {
			detailPage =  mui.preload({
				id: 'movie-detail',
				url: './movieDetail.html'				
			});
		}
		
		// 获取第一个tab的数据
		getData();
	});	
	
	// 获取接口数据的方法
	function getData(){
		plus.nativeUI.showWaiting('加载中……', {
			width: '100px',
			height: '100px'
		});
		mui.getJSON('http://api.douban.com/v2/movie/us_box', 
			{},
			function(resp){
				console.log(JSON.stringify(resp));
				
				plus.nativeUI.closeWaiting(); 
				
				movies.list = convert(resp);
			}
		)
	}
	
	// 初始化scroll
	mui('.mui-scroll-wrapper').scroll({
		indicators: true
	});
	
	// 数格式转换
	function convert(obj) {
		var newItems = [];
		var items = obj.subjects;
		for (var i=0;i<items.length;i++) {
			var item = items[i];
			// 重组导演数据
			var directorsStr = '';
			for (var d=0;d<item.subject.directors.length;d++) {
				directorsStr += item.subject.directors[d].name;
				if (d != item.subject.directors.length -1) {
					directorsStr += ' / ';
				}
			}
			// 重组演员数据
			var castsStr = '';
			for (var c=0;c<item.subject.casts.length;c++) {
				castsStr += item.subject.casts[c].name;
				if (c != item.subject.casts.length -1) {
					castsStr += ' / ';
				}
			}
			
			newItems.push({
				sort: i + 1,
				id: item.subject.id,
				title: item.subject.title,
				cover: item.subject.images.medium,
				score: item.subject.rating.average,
				directorsStr: directorsStr,
				castsStr: castsStr,
				box: (item.box) / 10000
			})
		}
		
		return newItems;
	}
		
</script>

</body>

</html>