<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>榜单</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css"/>
<style>
	.group {
		display: flex;
		flex-flow: 1 1 0;
		height: 200px;
		text-align: center;
	}
	.item {
		width: 50%;
		height: 100%;
		padding: 15px;
	}	
	.billboard {
		width: 100%;
		height: 100%;
		line-height: 100%;
		border-radius: 5px;
		display: table;
	}
	.billboard-title {
		color: #FFFFFF;
		font-size: 18px;
		display: table-cell;
		vertical-align: middle;
	}
</style>
</head>
<body>
<div class="mui-content" style="background: #FFFFFF;">
    <div id="slider" class="mui-slider" >
      <div class="mui-slider-group mui-slider-loop">
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href="#">
            <img class="img" src="../images/banner3.jpg">
          </a>
        </div>
        <!-- 第一张 -->
        <div class="mui-slider-item">
          <a href="#">
            <img class="img" src="../images/banner1.jpg">
          </a>
        </div>
        <!-- 第二张 -->
        <div class="mui-slider-item">
          <a href="#">
            <img class="img" src="../images/banner2.jpg">
          </a>
        </div>
        <!-- 第三张 -->
        <div class="mui-slider-item">
          <a href="#">
            <img class="img" src="../images/banner3.jpg">
          </a>
        </div>
        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href="#">
            <img class="img" src="../images/banner1.jpg">
          </a>
        </div>
      </div>
      <div class="mui-slider-indicator">
        <div class="mui-indicator mui-active"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
      </div>
    </div>
    
    <div class="group">
    	<div class="item">
    		<div class="billboard" id="billboardTop">
    			<span class="billboard-title" style="background: linear-gradient(#941AE6,#F1E0FC);background: -webkit-gradient(#941AE6,#F1E0FC);">
    				电影Top250
    			</span>
    		</div>
    	</div>
    	<div class="item" id="billboardBox">
    		<div class="billboard">
    			<span class="billboard-title" style="background: linear-gradient(#3370CC,#CEE1FD);background: -webkit-gradient(#3370CC,#CEE1FD);">
    				北美票房榜
    			</span>
    		</div>
    	</div>
    </div>
    
    <div class="dark-medium" style="margin: 0 0 10px 15px;">
    	即将上映
    </div>
    <ul class="mui-table-view" id="movies" style="margin-bottom: 15px;">
        <li class="mui-table-view-cell" v-for="item in movies" :key="item.id">
            <a>
              	<img :src="item.cover" class="mui-pull-left" style="width: 60px;height: 90px;margin-right: 10px;" />  
              	<div class="">
              		<div class="dark-big mui-ellipsis">{{item.title}}</div>
              		<div>
	              		<span class="gray-medium mui-ellipsis" style="margin-right: 15px;">{{item.genres}}</span>
	              		<span class="orange-medium mui-ellipsis" v-if="item.score > 0">{{item.score}}分</span>
	              		<span class="orange-medium mui-ellipsis" v-else>暂无评分……</span>
	              	</div>
              		<div class="gray-small mui-ellipsis">
              			导演：{{item.directors}}
              		</div>
              		<div class="gray-small mui-ellipsis">
              			主演：{{item.casts}}
              		</div>             		
              	</div>
              	<button type="button" class="mui-btn mui-btn-warning mui-btn-outlined mui-pull-right" @click="wantLook(item.title)">想看</button>
            </a>
        </li>
    </ul>
</div>



<script src="../js/mui.min.js"></script>
<script src="../js/vue.min.js"></script>
<script>
	mui.init();
	mui('.mui-slider').slider({
		interval: 3000  // 自动轮播周期，默认0
	});
	
	// vue对象
	var data_movies = new Vue({
		el: '#movies',
		data: {
			movies: []
		},
		methods: {
			wantLook: function (title)  {
				mui.toast('期待:《' + title + '》上映！');
			}
		}
	});
	
	// 到 豆瓣Top250页面
	mui('#billboardTop')[0].addEventListener('tap', function(){
		mui.openWindow({
			id: 'top250',
			url: './billboard-top250.html',
			waiting: {
				autoShow: true,
				title: '正在加载……'
			}
		});
	});
	
	// 到 北美票房榜页面
	mui('#billboardBox')[0].addEventListener('tap', function(){
		mui.openWindow({
			id: 'billboard_Box',
			url: './billboard-box.html',
			waiting: {
				autoShow: true,
				title: '正在加载……'
			}
		});
	});
	
	mui.getJSON('http://api.douban.com/v2/movie/coming_soon',
		{
			"start": 0,
			"count": 10
		},
		function(resp){
			console.log(JSON.stringify(resp));
			data_movies.movies = data_movies.movies.concat(convert(resp.subjects));
		}
	)
	
	// 数据格式转换
	function convert(items) {
		var newItems = [];
		// 遍历
		items.forEach(function(item){
			var genres = item.genres.toString().replace(/,/g,' / ');
			var directors = '';
			for (var i=0;i<item.directors.length;i++) {
				directors += item.directors[i].name;
				if (i != item.directors.length - 1) {
					directors += ' / ';
				}
			}
			var casts = '';
			for (var j=0;j<item.casts.length;j++) {
				casts += item.casts[j].name;
				if (j != item.casts.length - 1) {
					casts += ' / ';
				}
			}
			newItems.push({
				id: item.id,
				title: item.title,
				genres: genres,
				directors: directors,
				casts: casts,
				cover: item.images.large,
				score: item.rating.average
			});
		});
		
		return newItems;
	}
</script>

</body>
</html>